.footer{
    display: block;
    text-align: center;
    padding: 60px;
    background-color: rgb(106, 59, 6, 0.2);
}

a{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.616);
    text-decoration: none;
    transition: 0.3ms;
}

a:hover{
    color: aquamarine;
}